

<%- contentFor('heo') %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<button type="submit" id="sign-out" onclick="signOut()" class="btn btn-primary btn-lg"> Sign Out </button>
<div class="container">
<div class="row">
<div id="centerElement" class="col-sm-6">
<h2>Welcome to your dashboard</h2>

<div id='allProducts' class="row demo">



</div> 



</div>

<div id ="addP" class="col-sm-4">


<form action="/contact" method="post" id="addProduct">
  <!-- Modal -->
 
       
        <div>
          <input type="text" id ="pName" placeholder="ProductName" name="pname" class="form-control">
        </div>
         <div>
         <input type="text" id ="pPrice" placeholder="ProductPrice" name="pclass" class="form-control">
        </div>
          <div>
         <textarea class="form-control" id="exampleTextarea" rows="2" name="p" placeholder="Product Description"></textarea>
        </div>
         <input type="file" value="upload" id="fileButton" class="btn btn-default" />
        <button type="submit" id="sign-in" class="btn btn-primary btn-lg">Sign In</button>
   </form>
   </div>
   </div>
   </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>

<script>
var config = {
    apiKey: "AIzaSyBJ-NUTzTtQoAeEUSH_GKl1Rcyd9G8hZvU",
    authDomain: "storebuilder-2e770.firebaseapp.com",
    databaseURL: "https://storebuilder-2e770.firebaseio.com",
    storageBucket: "storebuilder-2e770.appspot.com",
    messagingSenderId: "237724006816"
  };
  firebase.initializeApp(config);
  </script>
<!-- <script src="scripts/app.js"></script> -->
 <script type="text/javascript">
var userId,email;
var bola;
var name;
    firebase.auth().onAuthStateChanged(function(user) {
  	
  	
  if (user) {
  	
  	userId = user.uid;
  	email = user.email;
  	firebase.database().ref("users/"+user.uid).on('value', function(details){
	  	window.sessionStorage.setItem("userDetails",JSON.stringify({user: user, details: details.val()}));
  	});
  	// console.log(user.storename);
    // User is signed in.

         var fileButton = document.getElementById('fileButton');

     fileButton.addEventListener('change', function(e){
       var productname = document.getElementById('pName').value;
    comsole.log('productname is ' + productname + storename) ;

      var file = e.target.files[0];
      name = file.name;
    var storageRef  = firebase.storage().ref( storename +"/"+ productname + "/"  +file.name);

    var task = storageRef.put(file);

task.on('state_changed',
     function progress(snapshot){

     },
          function error(err){
         console.log(err);
     },
          function complete(){

     }


	);

});

    var storename = JSON.parse(window.sessionStorage.getItem('userDetails')).details.storename;
    var rel = firebase.database().ref("products/" + storename).on('value',function(snapshot) {
     
      $("#allProducts").html("");
      var div = document.createElement("div");
     	var arr = [];
   
       div.setAttribute('class','row');
      var snap = snapshot.val();
       for(va in snap){
var div2 = document.createElement("div");
            div2.setAttribute('style', 'border: 1px solid black;');

       	var res = snap[va];
       	for(vam in res){
       		
            div2.setAttribute('class','col-md-4')
       		if(vam.includes("productna")){

           




       			    var t =document.createElement("IMG");
			        t.setAttribute('style', 'width:150px; height:150px;');
			        t.setAttribute('id',res[vam]);
			        div2.appendChild(t);
       				var me = res[vam];
       			
       				arr.push(res[vam]);
       				var h = document.createElement("H1");
                    h.appendChild(document.createTextNode(res[vam]));
       	            div2.appendChild(h);
console.log('this is' + res[vam]);
                    
     var storage    = firebase.storage();
     var storageRef = storage.ref();
     
     var test = storename + '/' + me + '/' + name;
     console.log(test);
     storageRef.child('Store1/lollypop/background.jpg').getDownloadURL().then(function(url) {

     var test = url;
     for (var i=0; i < arr.length; i++) {
  document.getElementById(arr[i]).src = test;
}
     
    // document.querySelector('img').src = test;

     }).catch(function(error) {
       console.log(error);
    });

       		}
            	if(vam.includes("productpr")){
       				console.log(res[vam]);
       				var m = document.createElement("H3");
            
                   m.appendChild(document.createTextNode('₦' + res[vam]));

       	            div2.appendChild(m);


       		}
       
        
      
        div.appendChild(div2);
        var element = document.getElementById("allProducts");
      element.appendChild(div);

       }
       console.log('array showing is');
       console.log(arr);
      }
    });
     

//



  } else {
    // No user is signed in.

  }

// console.log(userId);
var productname;

$("#addProduct").submit(function(e, v){
	e.preventDefault();

     
     console.log('gets here');
   
    var values = $(this).serializeArray();
  
   productname = values[0].value;
    
    var productprice = values[1].value
  
    var description = values[2].value;
   	
   	var storename = JSON.parse(window.sessionStorage.getItem('userDetails')).details.storename;
   	console.log(storename);
	writeUserData(storename, productname, productprice, description);


     

  });
   

  function writeUserData(storename, productname, productprice, description) {
  firebase.database().ref('products/'+storename+"/"+productname).set({
   storename: storename,
   productname: productname,
   productprice: productprice,
   description: description,
   storename: storename
 
  });
}

});

</script>


<script>
function signOut(){
firebase.auth().signOut().then(function() {
  // Sign-out successful.
  window.location.replace("index");
}, function(error) {
  // An error happened.
});


}
</script>
